APP_NAME=Riot Games Project API
APP_VERSION=1.0.0
API_PREFIX=/api/v1
DEBUG=false
MODEL_PATH=models/4_match_outcome_predictor/models/match_outcome_model_early_15m.pkl
SCALER_PATH=models/4_match_outcome_predictor/models/scaler.pkl

# Riot Games API Key - Get yours at https://developer.riotgames.com/
RIOT_API_KEY=your_riot_api_key_here
