# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# ML
mlruns/
mlartifacts/
models/
models - Copy/

# Env
.env

# Ignore raw data
data/raw/
**/data/raw/
stat project/data/raw/

# Node
node_modules/
dist/
build/

# Logs
*.log
*.txt
# Exclude oversized model binaries from GitHub push
models/4_match_outcome_predictor/models/cascade_stage2_cascaded_model.pkl
models/4_match_outcome_predictor/models/cascade_stage2_post_baseline_model.pkl
