# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# ML
mlruns/
mlartifacts/
models/
models - Copy/

# Env
.env

# Ignore raw data
data/raw/
**/data/raw/
stat project/data/raw/

# Node
node_modules/
dist/
build/

# Logs
*.log
*.txt